.block-uploadvimeo .form-item .form-setting .defaultsnext {
    display: inline-block;
}

.block-uploadvimeo ul {
	list-style-type: none;
}
.block-uploadvimeo li {
	line-height: 60px;
}
.block-uploadvimeo li img {
	height: 40px;
}

.block-uploadvimeo td img {
    height: 40px;
}

.block-uploadvimeo .codeembed {
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 15px;
    background-color: #f8f9fa;
    padding: 15px;
    font-family: monospace;
    readonly: readonly;
}

.block-uploadvimeo .fa-code:hover {
    color: gray;
}


.block-uploadvimeo .fa-code:before {
    vertical-align: middle;
}

.block-uploadvimeo a btn btn-link {
    text-decoration: none;
}

.block-uploadvimeo a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer; 
}

.block-uploadvimeo .nav-tabs>li>a, .block-uploadvimeo .nav-tabs>li>a, .block-uploadvimeo .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.4;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
	text-decoration: none;	
}
.block-uploadvimeo .nav-tabs>li>a.active, .block-uploadvimeo .nav-tabs>li>a.active:focus, .block-uploadvimeo .nav-tabs>li>a.active:hover {
    color: #666;
	font-weight:500;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
	text-decoration: none;
}
.block-uploadvimeo .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

.block-uploadvimeo .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 70px;
}
.block-uploadvimeo .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.block-uploadvimeo .btn-sm {
	border-radius: .3rem;
}


.block-uploadvimeo .modal-content {
	height: 400px;
}

.block-uploadvimeo iframe {
    position: absolute;
    width: 90%;
    height: 90%;
    max-height:300px;
    border: 0;
    left:25px;
}

.block-uploadvimeo i.icon.fa.fa-pencil.fa-fw {
  color: gray;
}

.block-uploadvimeo .inplaceeditable .editinstructions {
  /*  display: none;
    margin-top: -46px;
    height: 25px;
    padding: 0;*/
    /*background-color: white;
	border: none;*/
    line-height: 20px;
    height: 25px;
    margin-top: -28px;
    
}

.block-uploadvimeo .preview-img {
	height: 55px;
    min-width: 70px;
}

.block-uploadvimeo .videoinplace {
	/*background-color: antiquewhite;*/
    width: 500px;
    display: inline-block;    
}

.block-uploadvimeo .videoinplace .inplaceeditable.inplaceeditingon input {
    width: 495px;    
}
    
.block-uploadvimeo .menuvideo {
	/*background-color: bisque;*/
    position: relative;
}

.block-uploadvimeo .draggable-image {
    text-align: center;
    border: 1px solid #92b0b3;
    
	outline-offset: -10px;
	background-color: white;
	padding: 20px;
  }

  /* Space out content a bit */
  body {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  html, body {
    height: 100%;
}

  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* Custom page header */
  .header {
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
  }

  /* Custom page footer */
  .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }

  /* Customize container */
  @media (min-width: 768px) {
    .container {
      max-width: 730px;
    }
  }
  .container-narrow > hr {
    margin: 30px 0;
  }

  /* Main marketing message and sign up button */
  .draggable {
    text-align: center;
    border: 1px solid #92b0b3;
    /* border-bottom: 1px solid #e5e5e5; */
    outline: 2px dashed #92b0b3;
	outline-offset: -10px;
	background-color: white;
	padding: 20px;
  }


  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    /* Space out the masthead */
    .header {
      margin-bottom: 30px;
    }

  }

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}