{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_uploadvimeo/form

    This template renders the form content area for the upload vimeo block.

    Example context (json):
    {
        "attributes": [                                                                                                             
            { "name": "heading", "value": "Meus vídeos" },
            { "name": "url", "value": "" },
            { "name": "returnlink", "value": "" },
            { "name": "returntext", "value": "Click here to back course" },
            { "name": "", "value": "" },
        ]
    }
}}
    <link rel="stylesheet" href="style.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!--
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
-->
    <script src="https://cdn.jsdelivr.net/npm/tus-js-client@1.8.0/dist/tus.min.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script src="js/util.js?121213141415"></script>
<!--
    <script src="js/config.js?121213141415"></script>    
-->	
    <script src="js/vimeo-api.js?121213141415"></script>
    <script src="js/app.js?121213141415"></script>        


	<script>
		function copyTextToClipboard(text) {
		  var textArea = document.createElement("textarea");
		  // Place in top-left corner of screen regardless of scroll position.
		  textArea.style.position = 'fixed';
		  textArea.style.top = 0;
		  textArea.style.left = 0;
		  // Ensure it has a small width and height. Setting to 1px / 1em
		  // doesn't work as this gives a negative w/h on some browsers.
		  textArea.style.width = '2em';
		  textArea.style.height = '2em';
		  // We don't need padding, reducing the size if it does flash render.
		  textArea.style.padding = 0;
		  // Clean up any borders.
		  textArea.style.border = 'none';
		  textArea.style.outline = 'none';
		  textArea.style.boxShadow = 'none';
		  // Avoid flash of white box if rendered for any reason.
		  textArea.style.background = 'transparent';
		  textArea.value = text;
		  document.body.appendChild(textArea);
		  textArea.focus();
		  textArea.select();
		  try {
			var successful = document.execCommand('copy');
			//var msg = successful ? 'successful' : 'unsuccessful';
			//console.log('Copying text command was ' + msg);
		  } catch (err) {
			console.log('Não foi possível copiar para o clipboard.');
		  }
		  document.body.removeChild(textArea);
		}
	</script>

<div id="block-uploadvimeo-{{uniqid}}" class="block-uploadvimeo block-cards" data-region="uploadvimeo" role="navigation">
	<div class="card">
		<div class="card-body">	
			<h2 class="card-title">Enviar vídeos para a plataforma Vimeo</h2>
			<br><br>
			<div class="draggable" id="register" style="max-width:80%;">        
				<p class="lead">Para enviar um vídeo, arraste-o para dentro desta área demarcada, ou clique no botão <strong>Enviar vídeo</strong>.</p>
				<br><br>
				<div>
					<label class="btn btn-primary">
					  Enviar Vídeo <input id="browse" type="file" style="display: none;">
					</label>
				</div>
			</div>
			<br>
			<div class="alert alert-warning alert-dismissible fade show" role="alert" style="max-width:80%;">
			  <strong>Atenção:</strong> Ao enviar vídeos, você deve respeitar as regras do Vimeo, carregando apenas vídeos feitos por você que não tenham conteúdo impróprio. Para maiores informações, <a href="https://vimeo.com/help/guidelines#video" target="_blank">clique aqui</a>.
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<br>
			<div id="success_alert" class="alert alert-success" role="alert" style="display: none;">
				<div class="mt-3, mb-3">
					<br>
					<h4>Vídeo enviado com sucesso!</h4>
					<br>
					<h4>{{#str}} text_upload_sucess, block_uploadvimeo {{/str}}</h4>
				</div>
				<pre>          
				</pre>
			</div>
  		
		
		</div>
	</div>

	<br>
		
	<!-- ************************************************************************************************************************************** -->
	<div class="card">
		<div class="card-body">		
			<h3>Meus vídeos</h3>
			<br><br>
			<h5>{{{ textmyvideos }}}</h5>	
			<ul>
				{{# myvideos }}
				<li>
					<a class="btn btn-link" data-toggle="collapse" aria-expanded="false" aria-controls="videoid_{{ videoid }}" data-target="#videoid_{{ videoid }}">
						<img src="{{ thumbnail }}" class="rounded">				
						<!-- <span style="margin-left:10px;">{{ name }}</span> -->
					</a>
					
					<!-- inplace editable -->
				    <span class="inplaceeditable inplaceeditable-{{type}}" data-inplaceeditable="1" data-component="{{component}}" data-itemtype="{{itemtype}}" data-itemid="{{itemid}}" data-value="{{value}}" data-editlabel="{{editlabel}}" data-type="{{type}}" data-options="{{options}}">
				        <a href="#" class="quickeditlink" data-inplaceeditablelink="1" title="{{#str}} edittitlevideo, block_uploadvimeo {{/str}}">
				            {{name}}
				            <span class="quickediticon visibleifjs">{{#pix}}t/editstring,core,{{{edithint}}}{{/pix}}</span>
				        </a>
					</span>
				    {{#js}}
				        require(['core/inplace_editable']);
				    {{/js}}

					<a data-toggle="collapse" aria-expanded="false" aria-controls="videoid_{{ videoid }}" data-target="#videoid_{{ videoid }}" title="{{#str}} showcodeembed, block_uploadvimeo {{/str}}">
						<span style="margin-right:-5px;"><i class="icon fa fa-file-code-o fa-fw " style="color:gray"></i></span>
					</a>
					<a data-toggle="modal" data-target="#play_{{ videoid }}" title="{{#str}} playvideo, block_uploadvimeo {{/str}}">
						<span style="margin-right:-5px;"><i class="icon fa fa-play-circle fa-fw " style="color:gray"></i></span>
					</a>
					<a data-toggle="collapse" aria-expanded="false" aria-controls="thumb_videoid_{{ videoid }}" data-target="#thumb_videoid_{{ videoid }}" title="{{#str}} editthumbnailvideo, block_uploadvimeo {{/str}}">
						<span style="margin-right:-5px;"><i class="icon fa fa-image fa-fw " style="color:gray"></i></span>
					</a>
					<a data-toggle="modal" data-target="#delete_{{ videoid }}" title="{{#str}} deletevideo, block_uploadvimeo {{/str}}">
						<span style="margin-right:-5px;"><i class="icon fa fa-trash fa-fw " style="color:gray"></i></span>
					</a>
					<!-- 
					<a data-toggle="modal" data-target="#image_{{ videoid }}" title="Alterar imagem do vídeo">
						<span style="margin-right:-5px;"><i class="icon fa fa-picture-o fa-fw " style="color:gray"></i></span>
					</a>
					 -->
					
					
				</li>
				<!-- Collapse (code) -->
				<div class="collapse" id="videoid_{{ videoid }}">
					<div class="container">
					  <ul class="nav nav-tabs">
						<li><a class="active" data-toggle="tab" href="#atalhotab_{{ videoid }}">Atalho &nbsp;&nbsp;<i class="icon fa fa-map-o fa-fw " style="color:gray"></i></a></li>
						<li><a data-toggle="tab" href="#codigotab_{{ videoid }}">Código HTML &nbsp;&nbsp;<i class="icon fa fa-code fa-fw " style="color:gray"></i></a></li>
					  </ul>

					  <div class="tab-content">
						<div id="atalhotab_{{ videoid }}" class="tab-pane fade in active codeembed rounded" style="">
						  <p id="atalho_{{ videoid }}">[vimeo video="{{ videoid }}"]</p>
						  <button id="atalhobtn_{{ videoid }}" type="button" class="btn btn-secondary btn-sm">copiar <i class="icon fa fa-copy fa-2x" style="color:gray"></i></button>
						</div>
						<div id="codigotab_{{ videoid }}" class="tab-pane fade codeembed rounded">
						  <p id="codigo_{{ videoid }}">{{ htmlembed }}</p>
						  <button id="codigobtn_{{ videoid }}" type="button" class="btn btn-secondary btn-sm">copiar <i class="icon fa fa-copy fa-2x" style="color:gray"></i></button>
						</div>
					  </div>
					</div>
				</div>
				
				<!-- Modal (thumbnail) -->
				<div class="modal fade" id="image_{{ videoid }}" tabindex="-1" role="dialog">
				  <div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<h5>{{ name }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="close_image_{{ videoid }}">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
							<div class="modal-body">
								<div class="draggable" id="register_image" >
									<p class="lead">
										Para enviar uma nova imagem para o vídeo, arraste-o para dentro desta área
										demarcada, ou clique no botão <strong>Enviar imagem</strong>.
									</p>
									<br>
									<br>
									<div>
										<label class="btn btn-primary"> Enviar Imagem <input id="browse_image" type="file" style="display: none;">
										</label>
									</div>
								</div>
							</div>
						</div>
				  </div>
				</div>
				<script>
					document.getElementById('atalhobtn_{{ videoid }}').addEventListener('click', function(event) {
					  copyTextToClipboard('[vimeo video="{{ videoid }}"]');
					});
					document.getElementById('codigobtn_{{ videoid }}').addEventListener('click', function(event) {
					  copyTextToClipboard('{{{ htmlembed }}}');
					});
				</script>
				<!-- Modal (play) -->
				<div class="modal fade" id="play_{{ videoid }}" tabindex="-1" role="dialog">
				  <div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<h5>{{ name }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="close_play_{{ videoid }}">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
					  <div class="modal-body">
						{{{ htmlembed }}}
					  </div>
					</div>
				  </div>
				</div>
				<script>
					$( document ).on("mouseleave", "#play_{{ videoid }}", function (e) {
						$("#play_{{ videoid }} iframe").attr("src", $("#play_{{ videoid }} iframe").attr("src"));
					});				
				</script>
				<!-- Collapse (thumb) -->
				<div class="collapse" id="thumb_videoid_{{ videoid }}">
					<div class="container">
						<div style="height:100px;"><p>Incluir aqui o código de upload da imagem (thumbnail) do vídeo: {{ videoid }}</p></div>
					</div>
				</div>
				<!-- Modal (delete) -->
				<div class="modal fade" id="delete_{{ videoid }}" tabindex="-1" role="dialog">
				  <div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content" style="height:600px;">
					  <div class="modal-header">
						<h5>Apagar vídeo do Vimeo</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="close_delete_{{ videoid }}">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
					  <div class="modal-body">
						<h6 style="text-align:center;color:#a00000"><strong>ATENÇÃO:</strong> O VÍDEO ABAIXO SERÁ DEFINITIVAMENTE APAGADO<h6>
						<br />
						<div>{{{ htmlembed }}}</div>
						<div style="padding-top:310px;">
							<br /><h6>Após apagado, o vídeo não poderá ser recuperado (não há backup).</h6>
							<br /><h6><input type="checkbox"  onchange="document.getElementById('btn_delete_{{ videoid }}').disabled = !this.checked;" /> Confirmo que o vídeo acima pode ser apagado do Vimeo.</h6>
							<br /><input type="submit" name="sendNewSms" class="btn btn-secondary btn-sm" id="btn_delete_{{ videoid }}" value=" Apagar " disabled />
						</div>
					  </div>
					</div>
				  </div>
				</div>
				<script>
					$( document ).on("mouseleave", "#delete_{{ videoid }}", function (e) {
						$("#delete_{{ videoid }} iframe").attr("src", $("#delete_{{ videoid }} iframe").attr("src"));
					});
				</script>

				{{/ myvideos }}
			</ul>
		</div>	
	</div><!-- end card my videos -->

</div>

    <script> $( document ).ready(function() {
      //http://hayageek.com/drag-and-drop-file-upload-jquery/
      var obj = $(".draggable");
      obj.on('dragenter', function (e) 
      {
          e.stopPropagation();
          e.preventDefault();
      });
      obj.on('dragover', function (e) 
      {
          e.stopPropagation();
          e.preventDefault();
          $(this).css('border', '4px dotted #0B85A1');
      });
      obj.on('dragleave', function (e) 
      {
          $(this).css('border', '');
      });
  
      
      obj.on('drop', handleFileSelect);     
      $('input[type="file"]').change(handleFileSelect); 
      //prevent open file
      $(document).on('dragenter', function (e) 
      {
          e.stopPropagation();
          e.preventDefault();
      });
      $(document).on('dragover', function (e) 
      {
        e.stopPropagation();
        e.preventDefault();
      });
      $(document).on('drop', function (e) 
      {
          e.stopPropagation();
          e.preventDefault();
      });
      var browse = document.getElementById('browse')
      function handleFileSelect(evt) {
            evt.stopPropagation()
            evt.preventDefault()
            
            $("#success_alert").hide();
            $(this).css('border', '');
            let files = (evt.originalEvent && evt.originalEvent.dataTransfer)?  evt.originalEvent.dataTransfer.files : $(this).get(0).files
            
            MY_APP.sendFile( files, '{{ accesstoken }}' );
      }      
    });</script>