{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_uploadvimeo/form

    This template renders the form content area for the upload vimeo block.

	Context variables required for this template:
	    * heading - element name
	    * url - url form
	    * myvideos - list of videos
	    * textmyvideos - text for the list videos
	    * accesstoken - access token api vimeo
	    * urldeletevideo - url to delete video
    
    Example context (json):
    {
        "heading": "My videos",
        "url": "/blocks/uploadvimeo/form.php",
        "myvideos": [			
			
		],
        "textmyvideos": "Text",
        "accesstoken": "0000000x00x0x0x",
        "urldeletevideo": "/blocks/uploadvimeo/update.php",
    }
}}
    <link rel="stylesheet" href="style.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tus-js-client@1.8.0/dist/tus.min.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script src="js/util.js?121213141415"></script>
    <script src="js/vimeo-api.js?121213141415"></script>
    <script src="js/app.js?121213141415"></script>        


	<script>
		function copyTextToClipboard(text) {
		  var textArea = document.createElement("textarea");
		  // Place in top-left corner of screen regardless of scroll position.
		  textArea.style.position = 'fixed';
		  textArea.style.top = 0;
		  textArea.style.left = 0;
		  // Ensure it has a small width and height. Setting to 1px / 1em
		  // doesn't work as this gives a negative w/h on some browsers.
		  textArea.style.width = '2em';
		  textArea.style.height = '2em';
		  // We don't need padding, reducing the size if it does flash render.
		  textArea.style.padding = 0;
		  // Clean up any borders.
		  textArea.style.border = 'none';
		  textArea.style.outline = 'none';
		  textArea.style.boxShadow = 'none';
		  // Avoid flash of white box if rendered for any reason.
		  textArea.style.background = 'transparent';
		  textArea.value = text;
		  document.body.appendChild(textArea);
		  textArea.focus();
		  textArea.select();
		  try {
			var successful = document.execCommand('copy');
			//var msg = successful ? 'successful' : 'unsuccessful';
			//console.log('Copying text command was ' + msg);
		  } catch (err) {
			console.log('Não foi possível copiar para o clipboard.');
		  }
		  document.body.removeChild(textArea);
		}
	</script>

<div id="block-uploadvimeo-{{uniqid}}" class="block-uploadvimeo block-cards" data-region="uploadvimeo" role="navigation">
	<div class="card">
		<div class="card-body">	
			<h2 class="card-title">{{#str}} titlepageblock, block_uploadvimeo {{/str}}</h2>
			<br><br>
			<div class="draggable" id="register" style="max-width:80%;">        
				<p class="lead">{{#str}} instructions, block_uploadvimeo {{/str}}</p>
				<br><br>
				<div>
					<label class="btn btn-primary">
					{{#str}} btnsendvideo, block_uploadvimeo {{/str}} <input id="browse" type="file" style="display: none;">
					</label>
				</div>
			</div>
			<br>
			<div class="alert alert-warning alert-dismissible fade show" role="alert" style="max-width:80%;">
				{{#str}} msgalertvimeo, block_uploadvimeo {{/str}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<br>
			<div id="success_alert" class="alert alert-success" role="alert" style="display: none;">
				<div class="mt-3, mb-3">
					<br>
					<h4>{{#str}} msgvideosuccess, block_uploadvimeo {{/str}}</h4>
					<br>
					<h4>{{#str}} msguploadvimeo, block_uploadvimeo {{/str}}</h4>
				</div>
				<pre>
				</pre>
			</div>
		
		
		</div>
	</div>

	<br>
		
	<!-- ************************************************************************************************************************************** -->
	<div class="card">
		<div class="card-body">		
			<h3>{{#str}} titlemyvideos, block_uploadvimeo {{/str}}</h3>
			<br><br>
			<h5>{{{ textmyvideos }}}</h5>
			{{{ navigationbar }}}
			<table class="flexible table table-striped table-hover generaltable generalbox" id="videosvimeo">
				{{# myvideos }}
				
				<tr>
					<td>
					<span>{{ order }}. </span>
					<span class="videoinplace">
						<!-- inplace editable -->
						{{{ titleinplace }}}
					</span>
					<span class="menuvideo">
						<a data-toggle="collapse" aria-expanded="false" aria-controls="videoid_{{ videoid }}" data-target="#videoid_{{ videoid }}" title="{{#str}} showcodeembed, block_uploadvimeo {{/str}}">
							<span style="margin-right:-5px;"><i class="icon fa fa-file-code-o fa-fw " style="color:gray"></i></span>
						</a>
						
 						<a data-toggle="modal" data-target="#play_{{ videoid }}" title="{{#str}} playvideo, block_uploadvimeo {{/str}}">
							<span style="margin-right:-5px;"><i class="icon fa fa-play-circle fa-fw " style="color:gray"></i></span>
						</a>
						<!-- 
						<a href="https://localhost/moodle/blocks/uploadvimeo/modal.php?courseid=4&play={{ videoid }}&a=play" title="{{#str}} playvideo, block_uploadvimeo {{/str}}">
							<span style="margin-right:-5px;"><i class="icon fa fa-play-circle fa-fw " style="color:gray"></i></span>
						</a>
						-->
						<a data-toggle="modal" data-target="#image_{{ videoid }}" title="Alterar imagem do vídeo">
							<span style="margin-right:-5px;"><i class="icon fa fa-picture-o fa-fw " style="color:gray"></i></span>
						</a>
						<a data-toggle="modal" data-target="#delete_{{ videoid }}" title="{{#str}} deletevideo, block_uploadvimeo {{/str}}">
							<span style="margin-right:-5px;"><i class="icon fa fa-trash fa-fw " style="color:gray"></i></span>
						</a>					
					</span>				
					
				
				<!-- Collapse (code) -->
				<div class="collapse" id="videoid_{{ videoid }}">
					<div class="container">
						<ul class="nav nav-tabs">
							<li><a class="active" data-toggle="tab" href="#atalhotab_{{ videoid }}">{{#str}} tabshortcut, block_uploadvimeo {{/str}}<i class="icon fa fa-map-o fa-fw " style="color:gray"></i></a></li>
							<li><a data-toggle="tab" href="#codigotab_{{ videoid }}">{{#str}} tabhtml, block_uploadvimeo {{/str}}<i class="icon fa fa-code fa-fw " style="color:gray"></i></a></li>
						</ul>

						<div class="tab-content">
							<div id="atalhotab_{{ videoid }}" class="tab-pane fade in active codeembed rounded" style="">
								<p id="atalho_{{ videoid }}">[vimeo video="{{ videoidvimeo }}"]</p>
								<button id="atalhobtn_{{ videoid }}" type="button" class="btn btn-secondary btn-sm">{{#str}} btncopy, block_uploadvimeo {{/str}} <i class="icon fa fa-copy fa-2x" style="color:gray"></i></button>
							</div>
							<div id="codigotab_{{ videoid }}" class="tab-pane fade codeembed rounded">
								<p id="codigo_{{ videoid }}">{{ htmlembed }}</p>
								<button id="codigobtn_{{ videoid }}" type="button" class="btn btn-secondary btn-sm">{{#str}} btncopy, block_uploadvimeo {{/str}} <i class="icon fa fa-copy fa-2x" style="color:gray"></i></button>
							</div>
						</div>
					</div>
				</div>
				<script>
					document.getElementById('atalhobtn_{{ videoid }}').addEventListener('click', function(event) {
						copyTextToClipboard('[vimeo video="{{ videoidvimeo }}"]');
					});
					document.getElementById('codigobtn_{{ videoid }}').addEventListener('click', function(event) {
						copyTextToClipboard('{{{ htmlembed }}}');
					});
				</script>
				
				{{> block_uploadvimeo/modal_play}}				
				
				<!-- Modal (thumbnail) -->
				<div class="modal fade" id="image_{{ videoid }}" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5>{{#str}} titlethumbnail, block_uploadvimeo {{/str}}{{ name }}</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="close_image_{{ videoid }}">
								  <span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="draggable-image" id="draggable_image_{{ videoid }}" >
									<form action="{{{ urleditthumbnail }}}={{ videoid }}" method="post" enctype="multipart/form-data" id="formnewthumbnail_{{ videoid }}">
										<p class="lead">{{#str}} instructionsthumbnail, block_uploadvimeo {{/str}}</p>
										<p>{{#str}} instructionstypesthumbnail, block_uploadvimeo {{/str}}</p>
										<img id="previewimg_{{ videoid }}" style="height:55px;" class="" />
										<br><br>										
										<label class="btn btn-primary"> {{#str}} btnthumbnail, block_uploadvimeo {{/str}} <input id="newthumbnail_{{ videoid }}" name="newthumbnail_{{ videoid }}" type="file" accept=".gif, .jpg, .png" style="display: none;"></label>
										<br><input class="btn btn-primary" type="submit" id="submit_{{ videoid }}" disabled></input>
									</form>
									<div id="msgnewthumbnail_{{ videoid }}"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<script>
					$( document ).on('change', '#newthumbnail_{{ videoid }}', function(){
						const file = $(this)[0].files[0];
			            const fileReaderImg = new FileReader();
			            fileReaderImg.onloadend = function(){
			                $('#previewimg_{{ videoid }}').attr('src', fileReaderImg.result);
			                $('#previewimg_{{ videoid }}').addClass('img-thumbnail preview-img');
			                $('#submit_{{ videoid }}').removeAttr('disabled');
			            }
			            fileReaderImg.readAsDataURL(file);
					});
				</script>
				
				<!-- Modal (delete) -->
				<div class="modal fade" id="delete_{{ videoid }}" tabindex="-1"	role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content" style="height:600px;">
							<div class="modal-header">
								<h5>{{#str}} titledelete, block_uploadvimeo {{/str}} <b>"{{ name }}"</b></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="close_delete_{{ videoid }}">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<h6 style="text-align: center; color: #a00000"><strong>ATENÇÃO:</strong> O VÍDEO ABAIXO SERÁ DEFINITIVAMENTE APAGADO</h6>
								<br />
								<div> {{{ htmlembed }}} </div>
								
								<div style="padding-top:310px;">
								<form action="{{{ urldeletevideo }}}={{ videoid }}" method="post" id="formdelete_{{ videoid }}">
									<br />
									<h6>
										<h6>{{#str}} msginstructionsdelete, block_uploadvimeo {{/str}}</h6>
										<input type="checkbox" onchange="document.getElementById('btn_delete_{{ videoid }}').disabled = !this.checked;" />
										{{#str}} msgconfirmdelete, block_uploadvimeo {{/str}}
									</h6>
									<br />
									<input type="submit" name="btn_delete_{{ videoid }}" class="btn btn-primary" id="btn_delete_{{ videoid }}" style="margin-top:6px; " value=" {{#str}} btndelete, block_uploadvimeo {{/str}} " disabled />
								</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<script>
					$( document ).on("mouseleave", "#delete_{{ videoid }}", function (e) {
						$("#delete_{{ videoid }} iframe").attr("src", $("#delete_{{ videoid }} iframe").attr("src"));
					});
				</script>

				{{/ myvideos }}
				</td>
				</tr>
				</table>
			
			{{{ navigationbar }}}
		</div>
	</div><!-- end card my videos -->

</div>

<script>

$( document ).ready(function() {
	
      //http://hayageek.com/drag-and-drop-file-upload-jquery/
      var obj = $("#register");
      obj.on('dragenter', function (e) 
      {
          e.stopPropagation();
          e.preventDefault();
      });
      obj.on('dragover', function (e) 
      {
          e.stopPropagation();
          e.preventDefault();
          $(this).css('border', '4px dotted #0B85A1');
      });
      obj.on('dragleave', function (e) 
      {
          $(this).css('border', '');
      });
  
      
      obj.on('drop', handleFileSelect);
      $('#browse').change(handleFileSelect);//$('input[type="file"]').change(handleFileSelect); 
      
      //prevent open file
      $(document).on('dragenter', function (e) 
      {
          e.stopPropagation();
          e.preventDefault();
      });
      $(document).on('dragover', function (e) 
      {
        e.stopPropagation();
        e.preventDefault();
      });
      $(document).on('drop', function (e) 
      {
          e.stopPropagation();
          e.preventDefault();
      });
      var browse = document.getElementById('browse')
      function handleFileSelect(evt) {
            evt.stopPropagation()
            evt.preventDefault()
            
            $("#success_alert").hide();
            $(this).css('border', '');
            let files = (evt.originalEvent && evt.originalEvent.dataTransfer)?  evt.originalEvent.dataTransfer.files : $(this).get(0).files
            
            MY_APP.sendFile( files, '{{ accesstoken }}', '{{ username }}' );
      }      
    });  
	
	

</script>